
<div class="card p-3">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">id</th>
            <th scope="col">Reservas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of usuarios">
            <td>{{u.nombre}}</td>
            <td>{{u.apellido}}</td>
            <td>{{u._id}}</td>
            <td>{{u.reservas}}</td>
            <td><button class="btn btn-danger" (click)="agregarReserva(u._id)">Agregar reserva</button></td>
          </tr>
        </tbody>
      </table>
</div>
