<div class="fondo-usuario">
    <div class="row">
        <div class="tabla col-sm-8 offset-sm-2">
            <div class="title col-12">
                <strong>
                    <h3>Mis Datos</h3>
                </strong>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <label class="label1">Usuario</label><br>
                    <div class="nombre">
                        <label for="">{{gestor.username}}</label>
                    </div>
                </div>
                <div class="col-12 col-md-4 ">
                    <label class="label1">Nombre</label><br>
                    <div class="nombre">
                        <label for="">{{gestor.nombre}}</label>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <label class="label1">Apellido</label><br>
                    <div class="nombre">
                        <label for="">{{gestor.apellido}}</label>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <label class="label1">DNI</label><br>
                    <div class="nombre">
                        <label for="">{{gestor.dni}}</label>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <label class="label1">Email</label><br>
                    <div class="nombre">
                        <label for="">{{gestor.email}}</label>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <label class="label1">Edad</label><br>
                    <div class="nombre">
                        <label for="">{{gestor.edad}}</label>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <label class="label1">Fecha de Nacimiento</label><br>
                    <div class="nombre">
                        <label for="">{{gestor.fechaNacimiento}}</label>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary" routerLink="/gestor-form/1">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modificar
            </button>
        </div>
    </div>
</div>