<nav>
  <label class="logo">PaginaTurismo</label>
  <ul>
    <li>
      <a  class="nav-link active" aria-current="home" [routerLink]="['home']"
      routerLinkActive="active">Home</a>
    </li>
    <li>
      <a  class="nav-link active" aria-current="home" [routerLink]="['home']"
      routerLinkActive="active">Sobre Nosotros</a>
    </li>
    <li *ngIf="loginService.usuarioLoggedIn()">
      <a href="#">Servicios
        <i class="fas fa-caret-down"></i>
      </a>
      <ul>  
        <li><a href="#">ejemplo</a></li>
      </ul>
    </li>
    <li *ngIf="loginService.usuarioLoggedIn()">
      <a href="#">Resenias
        <i class="fas fa-caret-down"></i>
      </a>
      <ul>
        <li><a class="nav-link active" aria-current="resenia" [routerLink]="['resenia']"
          routerLinkActive="active">lista de resenia</a></li>
          <li><a class="nav-link active" aria-current="reseniaForm" [routerLink]="['reseniaForm/:id']"
            routerLinkActive="active">formulario resenia</a></li>
        <li>
          <a href="#">Desplegable
            <i class="fas fa-caret-right"></i>
          </a>
          <ul>
            <li><a href="#">ejemplo1</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li *ngIf="loginService.usuarioLoggedIn()">
      <a href="#">Mi Perfil<i class="fas fa-caret-down"></i></a>
      <ul>
        <li><a class="nav-link active" aria-current="resenia" [routerLink]="['resenia']"
          routerLinkActive="active">Mis Datos</a></li>
          <li><a class="nav-link active" aria-current="reseniaForm" [routerLink]="['reseniaForm/:id']"
            routerLinkActive="active">Mis Recervas</a></li>
        <li>
          <a href="#">Mis Resenias<i class="fas fa-caret-right"></i></a>
          <ul>
            <li><a href="#">ejemplo1</a></li>
          </ul>
        </li>
      </ul>
    </li>
  
    <li *ngIf="!loginService.usuarioLoggedIn()">
      <a class="nav-link active" aria-current="login" [routerLink]="['login']"
      routerLinkActive="active">Iniciar Sesion </a>
  </li>
  <li *ngIf="loginService.usuarioLoggedIn()">
    <a class="nav-link active" aria-current="home" [routerLink]="['home']"
        routerLinkActive="active" (click)="logout()"> Cerrar Secion </a>
  </li>
  </ul>
</nav>
<section></section>