<body>
    <br>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand">
                <div class="container-fluid busquedaProvincia">
                    <h3>Selecciona una Provincia :</h3>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <select class="selectProvincia" [(ngModel)]="seleccion" name="seleccionProvincia"
                            id="exampleFormControlSelect1" required>
                            <option *ngFor="let c of provincias" [value]="c.name">{{c.name}}</option>
                        </select>
                        <button type="button" class="btn-search" (click)="consultarProvincia(seleccion)">Buscar</button>

                    </div>
                </div>
            </nav>
            <div *ngIf="mostrarCard" class="col-6 margen" style="float: left;">
                <div class="col-1"  style="float: left; "><button *ngIf="indice>0" (click)="anterior()" type="button" class="botonImagen"><i
                            class="bi bi-caret-left-fill"></i></button>
                </div>
                <div class="col-10 text-center" style="float: left;">
                    <img class="imagenProvincia" src="{{imagen}}" height="auto">
                </div>
                <div class="col-1" style="float: left;"><button *ngIf="indice<imagenes.length-1" (click)="siguiente()"
                        type="button" class="botonImagen"><i class="bi bi-caret-right-fill"></i></button></div>

            </div>

            <section class="col-6 ">
                <div class="row">
                    <div class="col">
                        <div class="card" *ngIf="mostrarCard">

                            <div class="card-body">
                                <h5 class="card-title text-center">{{provincia.nombre}}</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the
                                    card's content.</p>
                            </div>
                            <!-- <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{provincia.clima}}</li>
                                <li class="list-group-item">Lat: {{provincia.lat}}</li>
                                <li class="list-group-item">Long: {{provincia.long}}</li>
                            </ul> -->
                            <div class="card-body">
                                <a href="https://maps.google.com/?q={{provincia.lat}},{{provincia.long}}"
                                    class="card-link">Maps</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                    <div class="tabla-contenedor overflow-auto" *ngIf="mostrarCard">
                        <h2 style="text-align: center;">Localidades:</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Id</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let s of localidades">
                                <tr>
                                    <th scope="row">{{s.nombre}}</th>
                                    <td colspan="2">{{s._id}}</td>
                                    <button type="button" class="form-control botonLocalidad"
                                        (click)="seleccionarLocalidad(s)">Visitar</button>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>


        </div>
    </div>

    <div id="map" style="width: 50%; height: 200px;"></div>

    <br>
    
</body>