<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="loginService.usuarioLoggedIn()">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" aria-current="page" [routerLink]="['servicio']">SERVICIOS</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" aria-current="page">INFORMACION</a>
                </li>

                <li class="nav-item dropdown" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        MI PERFIL
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" [routerLink]="['usuario/datos']">MIS DATOS</a></li>

                        <li><a class="dropdown-item" [routerLink]="['usuario']">MIS RESERVAS</a></li>

                        <li><a class="dropdown-item" [routerLink]="['usuario']">MIS RESENIAS</a></li>

                        <li class="dropdown-divider"></li>

                        <li><a class="dropdown-item" [routerLink]="['home']" routerLinkActive="active" (click)="logout()">CERRAR SESION</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>